@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700 bg-gray-100 dark:bg-space-blue dark:text-gray-50;
  }

  a {
    @apply text-blue-500 dark:text-blue-400;
  }
}

@layer components {
  .card {
    @apply p-4 mb-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-oxford-blue;
  }

  .pill {
    @apply inline-flex px-2 py-1 text-xs font-semibold leading-5 rounded-full;
  }

  .histogram {
    @apply w-full h-6 mx-auto;
  }
  .hitbox {
    align-items: flex-end;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1px;
    border-radius: 3.75px;
  }
  .bar {
    @apply bg-gray-300 dark:bg-light-cyan;
    padding-bottom: 1px;
    height: 100%;
    width: 85%;
    border-radius: 100px;
  }

  .bar.green {
    @apply bg-green-400 dark:bg-green-700;
  }

  .bar.red {
    @apply bg-red-400 dark:bg-red-700;
  }

  .bar.yellow {
    @apply bg-yellow-400 dark:bg-yellow-700;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip .content {
    @apply absolute z-50 invisible inline-block;
    @apply px-2 py-1 bg-gray-100 rounded-lg shadow dark:bg-oxford-blue;
    @apply transition-all duration-200 scale-50 opacity-0;
  }

  .tooltip:hover .content {
    @apply visible scale-100 opacity-100;
  }
}
